//	GLOBAL STYLES //
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

//  DOCUMENT LEVEL FONT-SIZE ADJUSTMENTS  //
html {
	font-family: "Arial";
	font-size: $base_html_font_size;
}
body {
	font-family: "Arial";
}
@media screen and (max-width: 900px) {
	html { font-size: 16px; }
}

@media screen and (max-width: 400px) {
	html { font-size: 14px; }
}

// TYPOGRAPHY ADJUSTMENTS
a {
	color: $secondary_color;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $accent;
	}
}

section {
	background: white;
	h1 {
		color: black;
	}
}
