//	GLOBAL VARIABLES //
//	TYPOGRAPHY VARIABLES //


//	COLOR VARIABLES //
$primary_color: #E00021;
$secondary_color: #5f6062;
$accent: #46166b;


//	TYPOGRAPHY VARIABLES //
$base_html_font_size: 17px;
$base_html: 17;


//	PAGE SPECIFIC VARIABLES //